@page
@model LoginModel

@{
    ViewData["Title"] = "Sign In";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] | Velocitor Helpdesk</title>
        <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    </head>
    <body>
        <div class="min-h-screen w-full flex bg-velblue items-center justify-center">
            <form id="account" method="post" class="flex flex-col bg-white p-4 rounded">
                <img src="~/images/VTrack-Logo-Large.png" alt="Velocitor Solutions" class="h-12" />
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-red-600" role="alert"></div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <div class="group relative">
                        <span asp-validation-for="Input.Email" class="text-red-600"></span>
                        <input asp-for="Input.Email" class="outline-none" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <span class="w-0 h-0.5 bg-velblue block absolute bottom-0 left-1/2 -translate-x-1/2 transition-all duration-300 ease-in-out group-focus-within:w-full group-focus-within:-translate-x-0"></span>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-red-600"></span>
                    <div class="group relative">
                        <input asp-for="Input.Password" class="outline-none" autocomplete="current-password" aria-required="true" placeholder="password" />
                        <span class="w-0 h-0.5 bg-velblue block absolute bottom-0 left-1/2 -translate-x-1/2 transition-all duration-300 ease-in-out group-focus-within:w-full group-focus-within:-translate-x-0"></span>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-vellink hover:bg-velblue">Sign In</button>
                </div>
            </form>
        </div>
    </body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
